{{ define "animation_for_year" }} {{ template "header" }}



<!-- Intro start -->
<main class="main" data-chapter="1">
    <section class="intro">
        <div class="wrapper">
            <div class="row middle-xs bottom-xs">



                <!-- Форма обратной связи -->

                <div class="hidden_all col-lg-4 col-md-5 col-sm-7 col-xs-12">
                    <div class="row center-xs">
                        <form class="search-form" autocomplete="off" id="form">
                            <fieldset class="search-form_wrap">
                                <p class="form_title_up">Рассчитать праздник</p>
                                <div class="search-form_info">
                                    <div class="input_frame">
                                        <input class="search-form_field" type="text" name="name" value="" placeholder="Ваше имя" id="name">
                                        <input class="search-form_field" type="text" name="tel" value="" required maxlength="12" placeholder="Номер телефона" id="tel">
                                    </div>
                                    <div class="check">
                                        <div class="politica_check">
                                            <input type="checkbox" checked="checked" onchange="fun_check()" name="form_application" value="yes" id="check_form_intro">
                                            <label for="check_form_intro"></label>
                                            <div class="politica">
                                                <p class="check_text">Я согласен на обработку персональных данных</p>
                                                <p class="check_text_desc"><a class="check_text_desc_a" href="!#">Политика конфиденциальности</a></p>
                                            </div>
                                        </div>
                                        <button class="search-form_submit search-form_submit_active" type="submit" name="" id="button_form_intro">Отправить</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="hidden_all col-lg-12 col-md-12 col-xs-12">
                    <div class="row end-xs">
                        <div class="feya-pic">
                            <img src="/static/img/din-din-min.png" alt="Детские шоу">
                        </div>
                    </div>
               </div>
            </div>

    </section>

    <!-- Intro end -->

    <!-- Animation start -->

    <section class="benefits">
        <div class="benefits_wrapper">
            <div class="button_green"></div>
            <div class="button_pink"></div>
            <h2 class="benefits_title">
                Анимационные программы
            </h2>
            <div class="main_animation_desc">
                <p class="desc_animation">Стоимость программы указана из расчета на 8 человек и не меняется при уменьшении количества участников</p>
                <!--<p class="desc_animation">Каждый последующий участник оплачивается + 1000 руб.</p>-->
                <p class="desc_animation">Если у вас на празднике до 8 детей, с вами будет 1 аниматор, если детей будет 9 и более - 2 аниматора</p>
                <p class="desc_animation">Ведение программы англоговорящим аниматором + 2500 руб. к стоимости программы</p>
            </div>
            <div class="benefit_cards">


                <!-- Модальное окно с всплывающей формой обратной связи -->

                <!-- Button trigger modal -->

                <!-- Modal -->{{ template "modul" }} {{ range . }}
                <!-- Карточка с анимационной программой #1 -->
                <div class="row padding_zero box_animation">
                    <div class="col-md-4 col-sm-4 col-xs-12 padding_zero" onclick="document.location='/animation_years/{{ .Child_age_range_id }}/card/{{ .Id }}/'">
                        <div class="animation_pic_contain">
                            <div class="animation_pic"><img loading="lazy" class="animation_pic_img" src="/static/img/for_article/{{ .Id }}/{{ .Photo_url }}" alt=""></div>
                        </div>
                    </div>
                    <div class="animation_program col-md-8 col-sm-8 col-xs-12">
                        <div class="row animation_program_title" onclick="document.location='/animation_years/{{ .Child_age_range_id }}/card/{{ .Id }}/'">
                            <div class="animation_name_contain col-md-9 col-sm-7 col-xs-12">
                                <h1 class="animation_name_program">
                                    {{ .Name }}
                                </h1>
                            </div>
                            <div class="animation_time col-md-3 col-sm-5 col-xs-12 end-sm start-xs">
                                <p class="carbon_time">{{ .Duration }} мин</p>
                            </div>
                        </div>
                        <div class="row text_animation" onclick="document.location='/animation_years/{{ .Child_age_range_id }}/card/{{ .Id }}/'">
                            &ensp;&ensp;{{ .Short_description }}
                        </div>
                        <div class="row padding_zero bottom_group_animation start-sm end-xs middle-xs">
                            <div class="col-md-3 col-sm-5 col-xs-12 start-sm end-xs padding_zero" onclick="document.location='/animation_years/{{ .Child_age_range_id }}/card/{{ .Id }}/'">
                                <div class="flex_price">
                                    <p class="price_animation">{{ .Price }}&nbsp;<img class="ruble" src="/static/img/svg/ruble.svg" alt=""></p>
                                </div>
                            </div>
                            <div class="padding_zero col-md-6 col-sm-4 col-xs-7 end-xs">
                                <button type="button" onclick="document.location='/animation_years/{{ .Child_age_range_id }}/card/{{ .Id }}/'" class="animation_button btn btn-primary"> <!---->
                            Узнать больше
                          </button>
                            </div>
                            <div class="padding_zero col-md-3 col-sm-3 col-xs-5 end-xs">
                                <button type="button" class="animation_button btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Заказать
                          </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Карточка с анимационной программой #1 end-->
                {{ end }}
            </div>
            <div class="instruction">
                <div class="instruction_title">
                    Как заказать праздник
                </div>

                <div class="row center-xs">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row center-xs middle-xs">
                            <div class="col-sm-3 col-xs-12">
                                <div class="row">
                                    <div class="flex_pointer">
                                        <div class="row center-xs middle-xs point_number">
                                            1
                                        </div>
                                        <div class=" row start-xs middle-xs point_text">
                                            Выберите программу
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="row">
                                    <div class="flex_pointer">
                                        <div class="row center-xs middle-xs point_number">
                                            2
                                        </div>
                                        <div class=" row start-xs middle-xs point_text">
                                            Оставьте заявку на сайте
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <div class="row">
                                    <div class="flex_pointer">
                                        <div class="row center-xs middle-xs point_number">
                                            3
                                        </div>
                                        <div class=" row start-xs middle-xs point_text">
                                            Согласуйте дату и место с менеджером
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kontur">
                    <div class="kontur_pink"></div>
                </div>
            </div>



            {{ template "form_footer" }}



        </div>
        <div class="animation_wave">
            <div class="wave_1"></div>
            <div class="wave_2"></div>
        </div>
    </section>



    <!-- Animation end -->


</main>

{{ template "footer" }} {{ end }}