{{ define "header"}}

<!doctype html>
<html lang="ru">

<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/flexboxgrid.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/style.css?v=1.2">
    <link rel="stylesheet" href="/static/css/baguetteBox.min.css">
    <script src="https://kit.fontawesome.com/bfec3f4f59.js" crossorigin="anonymous"></script>
    <title>Агентство детских праздников "Рич Шоу"</title>
    <meta name="description" content="Более 9 лет мы создаем уникальные праздники для мальчишек и девчонок. От маленьких камерных событий в квартире до масштабных фестивалей на 5000 человек! Наша миссия – наполнить яркими впечатлениями и эмоциями столь скоротечное детство Ваших детей! Подарить детям праздник"/>
    
    <meta property="og:title" content="Агентство детских праздников Рич Шоу"/>
    <meta property="og:image" content="https://rich-show.ru/static/img/snippet.jpg"/>
    <!--<meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>-->
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(87994020, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87994020" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>

    <!-- Прелоадер -->
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
    <!-- Header start -->
    <header class="header" id="header">
        <div class="wrapper">
            <div class="row middle-xs">
                <div class="box_left_header col-md-5 col-sm-4 col-xs-5">
                    <div class="row middle-xs start-xs">
                        <div class="header-logo col-md-4 col-sm-5 col-xs-4">
                            <a class="" href="/">
                                <img src="/static/img/svg/header-logo.png" alt="Агентство праздников Рич Шоу" class="header-logo-pic">
                            </a>
                        </div>
                        <div class="text_town col-md-8 col-sm-7 col-xs-8">
                            <p>г. Москва и МО</p>
                        </div>
                    </div>
                </div>
                <div class="box_right_header col-md-7 col-sm-8 col-xs-7">
                    <div class="row middle-xs end-xs">
                        <div class="box_email_header col-md-7 col-sm-7 col-xs-12">
                            <div class="adres_email">
                                <a href="mailto:info@rich-show.ru"><i class="far fa-envelope"></i>&nbspinfo@rich-show.ru</a>
                            </div>
                            <div class="adres_desc">
                                <p>напишите нам</p>
                            </div>
                        </div>
                        <div class="phone_number_header end-xs col-md-5 col-sm-5 col-xs-12">
                            <div class="soc_seti">
                                <a href="https://www.instagram.com/rich_show_msc"><i class="soc_seti_active soc_seti_instagram fab fa-instagram" style="cursor: pointer;"></i></a>&nbsp&nbsp
                                <a href="https://t.me/aleksandra_rich"><i class="soc_seti_active soc_seti_telegram fab fa-telegram" style="cursor: pointer;"></i></a>&nbsp&nbsp
                                <a href="https://api.whatsapp.com/send?phone=79196569105"><i class="soc_seti_active soc_seti_whatsapp fab fa-whatsapp" style="cursor: pointer;"></i></a>&nbsp&nbsp
                                <a href="https://vk.com/rich_show_msc"><i class="soc_seti_active soc_seti_vk fab fa-vk" style="cursor: pointer;"></i></a>&nbsp&nbsp
                            </div>
                            <div class="phone_number">
                                <a href="tel:+79170650909">+7 917-065-09-09</a>
                            </div>
                            <div class="phone_desc">
                                <p>ежедневно с 9:00 до 23:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header for desktop-->

        <div class="header_menu" id="header_menu">
            <div class="menu_wrapper">
                <nav class="header_nav">
                    <ul class="topmenu">
                        <li class="topmenu_item">
                            <a href="/animation_years/" class="menu_link main_menu" data-chapter="1">Анимация</a>
                            <ul class="submenu">
                                <li class="submenu_item">
                                    <a href="/animation_years/1/" class="menu_link_sub">Возраст от 1 до 3 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/animation_years/2/" class="menu_link_sub">Возраст от 4 до 6 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/animation_years/3/" class="menu_link_sub">Возраст от 7 до 9 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/animation_years/4/" class="menu_link_sub">Возраст от 10 до 14 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/animation_years/5/" class="menu_link_sub">Вечеринки</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/animation_years/6/" class="menu_link_sub">Анимация на свадьбу</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/animation_years/7/" class="menu_link_sub">Анимация для взрослых</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu_item">
                            <a href="/ready_holidays_years/" class="menu_link main_menu" id="menu_link_hidden" data-chapter="6">Готовые праздники</a>
                            <ul class="submenu">
                                <li class="submenu_item">
                                    <a href="/ready_holidays/1/" class="menu_link_sub">Возраст от 1 до 3 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/ready_holidays/2/" class="menu_link_sub">Возраст от 4 до 6 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/ready_holidays/3/" class="menu_link_sub">Возраст от 7 до 9 лет</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/ready_holidays/4/" class="menu_link_sub">Возраст от 10 до 14 лет</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu_item">
                            <a href="/show_programs/" class="menu_link main_menu" data-chapter="2">Шоу-программы</a>
                            <ul class="submenu">
                                <li class="submenu_item">
                                    <a href="/show_programs/1/" class="menu_link_sub">Для детей</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/show_programs/7/" class="menu_link_sub">Для взрослых</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu_item">
                            <a href="/master_class/" class="menu_link main_menu" data-chapter="3">Мастер-классы</a>
                            <ul class="submenu">
                                <li class="submenu_item">
                                    <a href="/master_class_years/1/" class="menu_link_sub">Для детей</a>
                                </li>
                                <li class="submenu_item">
                                    <a href="/master_class_years/6/" class="menu_link_sub">Для взрослых</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu_item">
                            <a href="/add_services/" class="menu_link main_menu" data-chapter="4">Доп. услуги</a>
                        </li>
                        <li class="topmenu_item">
                            <a href="/quest/" class="menu_link main_menu" data-chapter="5">Квесты</a>
                        </li>
                        <li class="topmenu_item">
                            <a href="/about_us/" class="menu_link main_menu" data-chapter="7">О нас</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Menu burger for mobile (950px)-->

        <div class="burger_menu" id="burger_menu">
            <div class="burger_wrapper">
                <nav class="burger_nav">
                    <ul class="topmenu_burger">
                        <li class="topmenu_item_burger_accordion">
                            <div class="accordion accordion-flush" id="accordionAnimation">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingAnimation">
                                        <button class="accordion-button collapsed menu_link_burger_more" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                         Анимация
                       </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingAnimation" data-bs-parent="#accordionAnimation">
                                        <div class="accordion-body">
                                            <ul class="submenu_burger">
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/1/" class="menu_link_sub_burger">Возраст от 1 до 3 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/2/" class="menu_link_sub_burger">Возраст от 4 до 6 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/3/" class="menu_link_sub_burger">Возраст от 7 до 9 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/4/" class="menu_link_sub_burger">Возраст от 10 до 14 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/5/" class="menu_link_sub_burger">Вечеринки</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/6/" class="menu_link_sub_burger">Анимация на свадьбу</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/animation_years/7/" class="menu_link_sub_burger">Анимация для взрослых</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="topmenu_item_burger_accordion">
                            <div class="accordion accordion-flush" id="accordionReadyHolidays">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingReadyHolidays">
                                        <button class="accordion-button collapsed menu_link_burger_more" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseReadyHolidays" aria-expanded="false" aria-controls="flush-collapseReadyHolidays">
                         Готовые праздники
                       </button>
                                    </h2>
                                    <div id="flush-collapseReadyHolidays" class="accordion-collapse collapse" aria-labelledby="flush-headingReadyHolidays" data-bs-parent="#accordionReadyHolidays">
                                        <div class="accordion-body">
                                            <ul class="submenu_burger">
                                                <li class="submenu_item_burger">
                                                    <a href="/ready_holidays/1/" class="menu_link_sub_burger">Возраст от 1 до 3 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/ready_holidays/1/" class="menu_link_sub_burger">Возраст от 4 до 6 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/ready_holidays/1/" class="menu_link_sub_burger">Возраст от 7 до 9 лет</a>
                                                </li>
                                                <li class="submenu_item_burger">
                                                    <a href="/ready_holidays/1/" class="menu_link_sub_burger">Возраст от 10 до 14 лет</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="topmenu_item_burger">
                            <a href="/show_programs/" class="menu_link_burger">Шоу-программы</a>
                        </li>
                        <li class="topmenu_item_burger">
                            <a href="/master_class/" class="menu_link_burger">Мастер-классы</a>
                        </li>
                        <li class="topmenu_item_burger">
                            <a href="/add_services/" class="menu_link_burger">Доп. услуги</a>
                        </li>
                        <li class="topmenu_item_burger">
                            <a href="/quest/" class="menu_link_burger">Квесты</a>
                        </li>
                        <li class="topmenu_item_burger">
                            <a href="/about_us/" class="menu_link_burger">О нас</a>
                        </li>
                    </ul>
                </nav>
                <div class="row center-xs">
                    <div class="col-xs-12">
                        <div class="burger_button_call">
                            <a href="https://api.whatsapp.com/send?phone=79196569105" class="burger_button_call_a">Поможем с выбором программы в WhatsApp</a>
                        </div>
                    </div>
                </div>
                <div class="phone_menu_soc row middle-xs end-xs">
                    <div class="box_email_burger col-xs-12">
                        <div class="adres_email_burger">
                            <a href="mailto:info@rich-show.ru"><i class="far fa-envelope"></i>&nbspinfo@rich-show.ru</a>
                        </div>
                        <div class="adres_desc"
                            <p>напишите нам</p>
                        </div>
                    </div>
                    <div class=" col-xs-12">
                        <div class="box_phone_burger">
                            <div class="phone_number_burger">
                                <a href="tel:+79170650909">+7 917-065-09-09</a>
                            </div>
                            <div class="phone_desc">
                                <p>ежедневно с 9:00 до 23:00</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Menu for mobile (950px)-->

        <div class="down_menu">
            <div class="row middle-xs center-xs">
                <div class="col-xs-3">
                    <a class="menu_bar_desc_a" href="https://api.whatsapp.com/send?phone=79176544174">
                        <img class="menu_bar_whatsapp" src="/static/img/svg/whatsapp.svg" alt="">
                        <p class="menu_bar_desc">Whatsapp</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="menu_bar_desc_a" href="/animation_years/">
                        <img class="menu_bar_whatsapp" src="/static/img/svg/party-hat.svg" alt="">
                        <p class="menu_bar_desc">Анимация</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="menu_bar_desc_a" href="/show_programs/">
                        <img class="menu_bar_whatsapp" src="/static/img/svg/celebrate.svg" alt="">
                        <p class="menu_bar_desc">Шоу</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <div class="burger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_back">
            <a href="#header" class="upbutton"> <img class="button_back_pic" src="/static/img/svg/up_arrow.svg" alt=""> </a>
        </div>

        <!--  Форма прилипшая к экрану компьютера -->

        <div class="form_down">
            <div class="search_wrap_down">
                <form onsubmit="" method="POST" action="/post_information/" class="row middle-xs center-lg" autocomplete="off" id="form_down">
                    <div class="col-lg-4">
                        <p class="form_title_down">Поможем организовать любой праздник</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="input_frame_down">
                            <input class="search_form_field_down _req _name" type="text" name="name" value="" placeholder="Ваше имя" id="name_down" required>
                            <input inputmode="numeric" class="search_form_field_down _req _tel" type="text" name="tel" value="" placeholder="Номер телефона" id="tel_down" required>

                            <input type="hidden" name="utm_source" id="property_utm_source_2">
                            <input type="hidden" name="utm_medium" id="property_utm_medium_2">
                            <input type="hidden" name="utm_campaign" id="property_utm_campaign_2">
                            <input type="hidden" name="utm_content" id="property_utm_content_2">
                            <input type="hidden" name="utm_term" id="property_utm_term_2">

                            <div class="politica_check_down">
                                <input type="checkbox" onchange="fun_check_down()" class="form-checkbox" name="form_application" value="yes" id="check_form_down">
                                <label for="check_form_down"></label>
                                <p class="check_text_down">Я согласен на обработку персональных данных</p>
                                <div class="politica_down">

                                    <p class="check_text_desc_down"><a class="check_text_desc_a_down" href="/privacy_policy/">Политика конфиденциальности</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        
                        <button class="benefit_search-form_submit" type="submit" name="" id="button_form_down" disabled>Отправить</button>
                    </div>
                    <div class="my_spinner_down hidden_all">
                        <div class="spinner-border_down spinner-border text-light" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!--  Конец формы -->

    </header>

    <!-- Header end -->
    {{ end }}