<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../static/css/style.css">

  <title></title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="test_wrapper">sdfsdsfds</div>
    <div class="videos_about_us">
        <div class="video_wrapper_about_us">
          <div class="video_item_about_us"></div>
            <iframe class="video_element_about_us" src="https://www.youtube.com/embed/dYnKn7_Tg58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
       </div>
</body>
</html>