{{ define "index" }} {{ template "header" }}

<!-- Intro start -->
<main class="main">
    <section class="intro">
        <div class="wrapper">
            <h1 class="intro_title"></h1>
            <div class="row middle-xs bottom-xs">
                <div class="carouselStock_intro col-xs-12">

                    <!-- Карусель со спецпредложениями полноэкранный -->


                    <div id="carouselStockFullScreen" class="carousel_index carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3500">
                                <a href="/show_programs/1/card/14/"><img loading="lazy" src="/static/img/1.png" class="d-block w-100" alt="..."></a>
                            </div>
                            <div class="carousel-item" data-bs-interval="3500">
                                <a href="/show_programs/1/card/8/"><img loading="lazy" src="/static/img/2.png" class="d-block w-100" alt="..."></a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselStockFullScreen" data-bs-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Previous</span>
                 </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselStockFullScreen" data-bs-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Next</span>
                 </button>
                    </div>

                    <!-- Карусель со спецпредложениями для мобильного экрана -->

                    <div id="carouselStockMobileScreen" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <a href="/show_programs/1/card/14/"><img loading="lazy" src="/static/img/3.png" class="d-block w-100" alt="..."></a>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <a href="/show_programs/1/card/8/"><img loading="lazy" src="/static/img/4.png" class="d-block w-100" alt="..."></a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselStockMobileScreen" data-bs-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Previous</span>
                 </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselStockMobileScreen" data-bs-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Next</span>
                 </button>
                    </div>
                </div>


                <!-- Форма обратной связи -->

                <div class="hidden_all col-lg-4 col-md-5 col-sm-7 col-xs-12">
                    <div class="row center-xs">
                        <form method="POST" action="/post_information" class="search-form" autocomplete="off" id="form">
                            <fieldset class="search-form_wrap">
                                <p class="form_title_up">Рассчитать праздник</p>
                                <div class="search-form_info">
                                    <div class="input_frame">
                                        <input class="search-form_field" type="text" name="name" value="" placeholder="Ваше имя" id="name">
                                        <input class="search-form_field" type="text" name="tel" onmouseover="chek_tel()" value="" required maxlength="12" placeholder="Номер телефона" id="tel">
                                    </div>
                                    <div class="check">
                                        <div class="politica_check">
                                            <input type="checkbox" checked="checked" onchange="fun_check()" name="form_application" value="yes" id="check_form_intro">
                                            <label for="check_form_intro"></label>
                                            <div class="politica">
                                                <p class="check_text">Я согласен на обработку персональных данных</p>
                                                <p class="check_text_desc"><a class="check_text_desc_a" href="!#">Политика конфиденциальности</a></p>
                                            </div>
                                        </div>
                                        <button class="search-form_submit search-form_submit_active" type="submit" name="" id="button_form_intro">Отправить</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="hidden_all col-lg-8 col-md-7 col-sm-5">
                    <div class="row end-xs">
                        <div class="feya-pic">
                            <img loading="lazy" src="/static/img/din-din-min.png" alt="Детские шоу">
                        </div>
                    </div>


                </div>




            </div>
        </div>

    </section>

    <!-- Intro end -->

    <!-- Benefits start -->

    <section class="benefits">
        <div class="benefits_wrapper">
            <div class="button_green"></div>
            <div class="button_pink"></div>
            <h2 class="benefits_title">
                Выберите праздник
            </h2>
            <div class="benefit_cards">
                <div class="row">
                    <!-- Первая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/animation_years/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/party-hat.svg" width="130" height="130" alt="Анимационные программы">
                            </div>
                            <h3 class="benefit_card-title">Анимационные программы</h3>
                        </a>
                    </div>
                    <!-- Седьмая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/show_programs/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/celebrate.svg" width="130" height="130" alt="Шоу-программы">
                            </div>
                            <h3 class="benefit_card-title">Шоу-программы</h3>
                        </a>
                    </div>
                    <!-- Вторая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/ready_holidays_years/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/confetti.svg" width="130" height="130" alt="Праздник под ключ">
                            </div>
                            <h3 class="benefit_card-title">Праздник под ключ</h3>
                        </a>
                    </div>
                    <!-- Третья карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/quest/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/balloons.svg" width="130" height="130" alt="Квесты">
                            </div>
                            <h3 class="benefit_card-title">Квесты</h3>
                        </a>
                    </div>
                    <!-- Четвертая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/add_services/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/icon-cake.svg" width="130" height="130" alt="Дополнительные услуги">
                            </div>
                            <h3 class="benefit_card-title">Дополнительные услуги</h3>
                        </a>
                    </div>
                    <!-- Пятая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/animation_years/5/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/trumpet.svg" width="130" height="130" alt="Анимация на свадьбу">
                            </div>
                            <h3 class="benefit_card-title">Анимация на свадьбу</h3>
                        </a>
                    </div>
                    <!-- Шетсая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/animation_years/6/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/icon-confetti.svg" width="130" height="130" alt="Анимационные программы для взрослых">
                            </div>
                            <h3 class="benefit_card-title">Анимационные программы для взрослых</h3>
                        </a>
                    </div>
                    
                    <!-- Восьмая карточка -->
                    <div class="col-lg-3 col-md-4 col-xs-6 benefits_card">
                        <a href="/master_class/" class="benefit_card-title_a">
                            <div class="benefits_card-pic">
                                <img class="benefits_card-tumb" loading="lazy" src="/static/img/svg/gift.svg" width="130" height="130" alt="Мастер-классы">
                            </div>
                            <h3 class="benefit_card-title">Мастер-классы</h3>
                        </a>
                    </div>

                </div>
            </div>

           <div class="title_swiper">
               <h2>Наши отзывы</h2>
           </div>
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_1.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_2.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_3.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_4.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_5.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_6.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_7.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_8.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_9.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_10.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_12.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_13.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_14.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_15.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_16.jpg" width="100%" height="100%" alt="Отзывы"></div>
      <div class="swiper-slide"><img loading="lazy" src="/static/img/reviews/review_17.jpg" width="100%" height="100%" alt="Отзывы"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    
  </div>
  




            <div class="bottom_about_us"></div>

            <div class="row middle-xs hidden_item">
                <div class="col-sm-6 col-xs-3">
                    <a class="video_button" data-bs-toggle="modal" data-bs-target="#RichshowVideo" style="cursor: pointer">
                    <div class="botton_play">
                        <div class="botton_play_circle_thin"></div>
                        <div class="botton_play_circle"><div class="botton_play_triangle"></div></div>
                        
                        
                    </div></a>





                    <div class="modal fade" id="RichshowVideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                          <div class="modal-content">
                            <div class="modal-header">
                              
                              <button type="button" class="btn-close button_close_video_richshow" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="videos">
                                    <div class="video_wrapper">
                                        <div class="video_item">
                                            
                                            <iframe class="video_element richshow_video_src" src="https://vk.com/video_ext.php?oid=-15990965&id=456240200&hash=b6bef27e375c14c1&hd=2"  allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary button_close_video_richshow" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                          </div>
                        </div>
                      </div>





                    <!--
                    <div class="videos">
                        <div class="video_wrapper">
                            <div class="video_item">
                                
                                <iframe class="video_element" src="https://vk.com/video_ext.php?oid=-15990965&id=456240200&hash=b6bef27e375c14c1&hd=2"  allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                             </div>
                        </div>
                    </div>
                    -->
                </div>
            <div class="col-sm-6 col-xs-9">

              

                <div class="row end-xs feya-div">
                    <div class="feya-pic">
                        <img loading="lazy" src="/static/img/din-din-min.png" alt="Детские шоу ">
                    </div>
                    <div class="cloud_about_us_div">
                        <img class="cloud_about_us" src="/static/img/cloud.png" alt="cloud">
                        
                        <div class="text_cloud_div"><p class="title_cloud">Как мы проводим праздники</p><br>
                            <p class="text_cloud">Посмотрите короткое видео и узнайте на что мы способны</p>
                        </div>
                        
                    </div>
                </div>
                

            </div>
        </div>


            <div class="instruction">
                <div class="instruction_title">
                    Как заказать праздник
                </div>

                <div class="row center-xs">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row center-xs middle-xs">
                            <div class="col-sm-3 col-xs-12">
                                <div class="row">
                                    <div class="flex_pointer">
                                        <div class="row center-xs middle-xs point_number">
                                            1
                                        </div>
                                        <div class=" row start-xs middle-xs point_text">
                                            Выберите программу
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="row">
                                    <div class="flex_pointer">
                                        <div class="row center-xs middle-xs point_number">
                                            2
                                        </div>
                                        <div class=" row start-xs middle-xs point_text">
                                            Оставьте заявку на сайте
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <div class="row">
                                    <div class="flex_pointer">
                                        <div class="row center-xs middle-xs point_number">
                                            3
                                        </div>
                                        <div class=" row start-xs middle-xs point_text">
                                            Согласуйте дату и место с менеджером
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="kontur">
                    <div class="kontur_pink"></div>
                </div>
            </div>

            {{ template "form_footer" }}



        </div>
        <div class="animation_wave">
            <div class="wave_1"></div>
            <div class="wave_2"></div>
        </div>
    </section>



    <!-- Benefits end -->


</main>

{{ template "footer" }} {{ end }}